#page { 
 padding-top: 64px;
  
} 

main { 
  width: 626px;
  height: 486px;

  margin: 0 auto 64px;
}

body { 
 font-family: 'Open Sans', sans-serif;

 text-align: center;
 margin: 0;
 
}

h1 { 
  font-family: 'Dosis', sans-serif;

  font-size: 32px;
  font-weight: 500;
  font-weight: normal;
} 

h1 span { 
  color: #EE24FF;

  font-weight: bold;
}

p { 
  font-weight: normal;
   color: #828282;
} 

p strong { 
  color: black;
}

#line{ 
  width: 391px;
  height: 0px;

  margin: 0 auto 16px;

  border: 1px solid #ECEFF2;
}


footer {
 line-height: 0;
}

footer a+a{ 
  text-decoration: none;
  font-weight: bold;
  
  color: #3F3D56;

  margin-left: 43px;
}

#wave{ 
 width: 100%; 
}